/* microsoft-ajax-translation */

.translate_translate {
border: 0 !important;
font-weight: normal !important;
margin-bottom: 0.5em;
text-decoration: none !important;
}

.translate_loading {
background: url(../images/ajax-loader.gif) no-repeat; /* http://www.ajaxload.info/ */
border: 0;
display: inline;
margin: 0;
padding: 0;
vertical-align: middle;
}

#translate_popup {
background-color: #fff; /* IE6 and IE7 don't support inherit! */
border-style: solid;
border-width: 1px;
-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
font-size: 13px;
padding: 0.5em;
position: absolute;
z-index: 50;
}

.translate_links {
border: 0;
margin: 0;
padding: 0;
text-align: left;
}

.translate_links tr {
border: 0;
}

.translate_links td {
border: 0;
padding: 0 1em 0 0;
}

.translate_links a {
display: block;
font-weight: normal !important;
line-height: 1.5;
text-decoration: none !important;
white-space: nowrap;
}

.translate_links .translate_flag {
background: url(../images/flags.png) no-repeat;
border: 0;
margin: 0;
padding: 0;
}

.translate_links .af {background-position: 0 0;}
.translate_links .ar {background-position: 0 -12px;}
.translate_links .be {background-position: 0 -24px;}
.translate_links .bg {background-position: 0 -36px;}
.translate_links .ca {background-position: 0 -48px;}
.translate_links .cs {background-position: 0 -60px;}
.translate_links .cy {background-position: 0 -72px;}
.translate_links .da {background-position: 0 -84px;}
.translate_links .de {background-position: 0 -96px;}
.translate_links .el {background-position: 0 -108px;}
.translate_links .en {background-position: 0 -120px;}
.translate_links .es {background-position: 0 -132px;}
.translate_links .et {background-position: 0 -144px;}
.translate_links .fa {background-position: 0 -156px;}
.translate_links .fi {background-position: 0 -168px;}
.translate_links .fr {background-position: 0 -180px;}
.translate_links .ga {background-position: 0 -192px;}
.translate_links .gl {background-position: 0 -204px;}
.translate_links .he {background-position: 0 -216px;}
.translate_links .hi {background-position: 0 -228px;}
.translate_links .hr {background-position: 0 -240px;}
.translate_links .hu {background-position: 0 -252px;}
.translate_links .id {background-position: 0 -264px;}
.translate_links .is {background-position: 0 -276px;}
.translate_links .it {background-position: 0 -288px;}
.translate_links .ja {background-position: 0 -300px;}
.translate_links .ko {background-position: 0 -312px;}
.translate_links .lt {background-position: 0 -324px;}
.translate_links .lv {background-position: 0 -336px;}
.translate_links .mk {background-position: 0 -348px;}
.translate_links .ms {background-position: 0 -360px;}
.translate_links .mt {background-position: 0 -372px;}
.translate_links .nl {background-position: 0 -384px;}
.translate_links .no {background-position: 0 -396px;}
.translate_links .pl {background-position: 0 -408px;}
.translate_links .pt {background-position: 0 -420px;}
.translate_links .ro {background-position: 0 -432px;}
.translate_links .ru {background-position: 0 -444px;}
.translate_links .sk {background-position: 0 -456px;}
.translate_links .sl {background-position: 0 -468px;}
.translate_links .sq {background-position: 0 -480px;}
.translate_links .sr {background-position: 0 -492px;}
.translate_links .sv {background-position: 0 -504px;}
.translate_links .sw {background-position: 0 -516px;}
.translate_links .th {background-position: 0 -528px;}
.translate_links .tl {background-position: 0 -540px;}
.translate_links .tr {background-position: 0 -552px;}
.translate_links .uk {background-position: 0 -564px;}
.translate_links .vi {background-position: 0 -576px;}
.translate_links .yi {background-position: 0 -588px;}
.translate_links .zh-CHS {background-position: 0 -600px;}
.translate_links .zh-CHT {background-position: 0 -612px;}

.translate_links .bing_branding {
font-size: 11px;
page-break-inside: avoid;
}
.translate_links .bing_branding img {
border: 0;
display: block;
margin: 0;
padding: 0;
}